body{
      background-color:#F5F5F5; 
}
  

  
/* navbar style */
.navbar{
   
    display: flex;
    justify-content: space-around;
   padding-top: 24px;
}
/* navbar btn styel */
.resume-btn{
    padding: 15px 30px ;
    border: 1px solid #006A50 ;
    border-radius: 8px ;
    font-weight: 600;
     color: #006A50;
     background-color: #F5F5F5;
}
/* banner style */
.banner{ 
   
    margin-left: 
    130px ;
    background-color: #C6E4D6;
    width: 1280px;
     height: 560px;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 64px ;
}
.banner-title{
    /* background-color: #C6E4D6; */
    font-weight: 500;
    font-size: 24px;
   color: rgba(14, 14, 14, 0.5);
}
.banner-description{
   
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
}
.banner-img{
  
     width: 474.03px;
    height: 329.21px;

}
.btn-primary{

    
    padding: 15px 30px ;
    border: 1px solid #006A50 ;
    border-radius: 8px ;
    font-weight: 600;
     color:#F5F5F5;
     background-color: #006A50 ;
}
/* main style */
.The-Vision-of-Future{
 text-align: start;
 padding-left: 125px ;
 padding-top: 50px;
}
.main-hedr{ 
   
    font-size: 40px;
    font-weight: 900;
}
.main-description{
    font-size: 16px;
font-weight: 400;
    color: rgba(14, 14, 14, 0.5);

}
.content-styel{
    display: flex;
    justify-content: space-around;
}
.Digital-Transformation{
    width: 300px ;
    background-color: #5490F533;
   border-radius: 16px ;
   padding: 32px;

    
}
.Green_Energy{
    width: 300px ;
    background-color: #C6E4D6;
   border-radius: 16px ;
   padding: 24px;

}
.Modern-Infrastructure{
    width: 300px ;
    background-color: #F7EBCF;
   border-radius: 16px ;
   padding: 24px;

}
.title-styel{
    font-size: 16px;
    font-weight: 400;
    color:rgba(14, 14, 14, 0.7);
}
.btn-styel1{  padding: 15px 30px ;
    border: none;
    border-radius: 8px ;
    font-weight: 600;
     color:#F5F5F5;
     background-color:#5490F5 ;

}
.btn-styel2{
    padding: 15px 30px ;
    border: none;
    border-radius: 8px ;
    font-weight: 600;
     color:#F5F5F5;
     background-color: #09A15C ;

}
.btn-styel3{
    padding: 15px 30px ;
    border: none;
    border-radius: 8px ;
    font-weight: 600;
     color:#F5F5F5;
     background-color: #FFC239 ;

}




